.Breadcrumbs{
    padding: 10px;
    font-family: cursive; 
    font-size: larger
}

.Breadcrumbs_item{
    display: inline-block;
}

.Breadcrumbs_item,li+li::before{
    content: ">";
    margin: 0 5px;
}

.Breadcrumbs_link{
    color: black;
    text-decoration: none;
}

.Breadcrumbs_link,a:hover{
    color: rgb(94, 75, 179);
}